[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/bordeaux-hugo-theme"]
	path = themes/bordeaux-hugo-theme
	url = git@github.com:osunyorg/bordeaux-theme.git
