$color-accent: #009DE0
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$heading-font-family: "Bitter", sans-serif
$body-font-family: "Work Sans", sans-serif

$h1-weight: normal
$h2-weight: normal
$h3-weight: normal

$header-logo-height: 50px
$header-logo-height-desktop: 80px
$header-dropdown-full: true
$header-border-bottom-width: 0
$header-background: none
$hero-background-color: none
$footer-background-color: $color-text
$footer-color: $color-background
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop
