.locations__term
    .diplomas
        > li
            > a
                @include h3
                border: none
                font-style: italic
                &::after
                    content: ""
                .meta
                    display: none
            .content
                display: block
                .programs
                    >li
                        display: flex
                        flex-direction: column
                        flex-wrap: wrap
                        align-items: start
                        justify-content: flex-start
                        gap: var(--grid-gutter)
                        > div
                            display: block
                        @include media-breakpoint-up(md)
                            flex-direction: row
                            .media
                                order: 1
                                max-width: 100%
                                width: columns(3)
                                img
                                    aspect-ratio: 1
                                    object-fit: cover
                            .program-content
                                order: 2
                                a
                                    width: columns(7)
                                    display: block
