body.programs__section, body.diplomas__term 
    .hero
        padding-bottom: var(--grid-gutter)
        .hero-text
            margin-bottom: 0
            picture
                margin-top: $spacing-3
                display: block
            @include media-breakpoint-up(desktop)
                width: 100% !important
                display: flex
                gap: calc(var(--grid-gutter)) 
                h1
                    width: columns(7)      
                picture
                    margin-top: 0
                    width: columns(5)          
                    align-self: end
                    img
                        max-width: columns(3)

        .essential-container
            .container
                display: flex
                flex-direction: column
                gap: calc(var(--grid-gutter)) 
                justify-content: start
                @include media-breakpoint-up(desktop)
                    flex-direction: row
            .essential
                display: grid
                grid-template-columns: repeat(6, 1fr)
                grid-gap: 0
                height: fit-content
                width: 100
                @include media-breakpoint-up(desktop)
                    width: columns(7)
                    
                dt, dd
                    padding: $spacing-2 0
                dt:not(:last-of-type) 
                    border-bottom: 1px solid $marron-secondaire-3             
                dd
                    text-align: right       
                dd:not(:last-of-type)  
                    border-bottom: 1px solid $marron-secondaire-3
                dt
                    font-family: $heading-font-family
                    font-size: pxToRem(22)
                    font-weight: 500
            .buttons 
                flex-direction: column
                a, button
                    justify-content: center
                    min-width: columns(3)
                a[download] 
                    background-color: var(--color-text)
                    &:hover
                        color: var(--color-text)
                        background-color: var(--color-background)
            .but-logo
                img
                    max-width: pxToRem(110)
    .document-content
        counter-reset: section
        .content
            grid-gap: 0
            &:not(:last-child)
                padding-bottom: 0
            section:first-of-type:not(.block) 
                margin-top: 0
            .blocks
                padding-top: 0
            .block
                margin-top: $spacing-5
                margin-bottom: 0
                @include media-breakpoint-up(desktop)
                    margin-top: $spacing-6
                    padding-top: 0
            
                
            > h2 
                @include h3
                font-style: italic
                @include media-breakpoint-down(desktop)
                    &::before
                        @include h1
                        font-style: normal
                        counter-increment: section
                        content: counter(section) ". "
                @include media-breakpoint-up(desktop)
                    &::after
                        margin-top: $spacing-1
                        display: block
                        @include h1
                        font-style: normal
                        counter-increment: section
                        content: counter(section) "."
            .blocks
                .block
                    h2.block-title
                        font-style: normal
            #couts-de-la-formation-initiale
                background-color: $marron-secondaire-1
                color: $color-background
                padding: pxToRem(55) pxToRem(30)
            #couts-de-la-formation-continue
                background-color: $marron-secondaire-2
                color: $color-background
                padding: pxToRem(55) pxToRem(30)
                margin-top: var(--grid-gutter)
            #couts-de-lapprentissage
                background-color: $marron-secondaire-4
                padding: pxToRem(55) pxToRem(30)
                margin-top: var(--grid-gutter)