<li>
    {{ $program := site.GetPage (printf "/programs%s" .slug) }}
    <div class="program-content">
      <a href="{{ .path }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" .label)) }}">
        {{ $short_name := (site.GetPage (printf "/diplomas/%s" $program.Params.diplomas)).Params.short_name }}
        {{- partial "PrepareHTML" (printf "%s %s" $short_name .label)  -}}
      </a>
      <div class="program-details">
        <div>
          {{- with $program.Params.summary }}
          <div class="description">
            {{- . }}
          </div>
          {{ end }}
          {{- with .children -}}
            <ol>
              {{- range . -}}
              <li>
                <a href="{{ .path }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" .label)) }}">
                  {{- partial "PrepareHTML" (printf "Parcours : %s" .label) -}}
                </a>
              </li>
              {{ end }}
            </ol>
          {{end}}
          <div class="details-more"> 
            <a href="{{ .path }}" title="En savoir plus" class="btn">En savoir plus</a>
            {{with $program.Params.logo}}
              {{ partial "commons/image.html"
              (dict
                "image"    .
                "lazy"     false
              ) }}
            {{end}}
          </div>
        </div>
        {{with $program.Params.roles}}
          <p class="meta">
            {{ $person := (site.GetPage (printf "/persons/%s" (index (index . 0).persons 0))).Params -}}
            <span class="title">{{- partial "PrepareHTML" ((index . 0).title) -}}</span>
            <span>{{$person.title}}</span>
            {{with  $person.contact_details}} 
              {{with .phone_professional}} 
                <span>{{- partial "PrepareHTML" (printf "- %s" .label) -}}</span>  
              {{end}}
              {{with.email}} 
                <a href="{{.value}}" itemprop="email">{{.label}}</a>
              {{end}}
            {{end}}
          </p> 
        {{end}}
      </div>
    </div>
    <div class="media">
      {{- if $program.Params.image -}}
          {{- partial "commons/image.html"
              (dict
                  "image"    $program.Params.image
                  "sizes"    site.Params.image_sizes.sections.programs.item
              ) -}}
      {{- end -}}
  </div>
</li>