{{ $breadcrumb_is_after_hero := eq site.Params.breadcrumb.position "after-hero" }}
{{ $display_breadcrumb := .Params.breadcrumb | default true }}

{{ $direction := "" }}
{{ if .Params.image }}
    {{ $direction = partial "GetImageDirection" .Params.image }}
{{ end }}
<header class="hero {{ if .Params.image }}hero--with-image hero--image-{{- $direction }}{{ end }} {{ if $breadcrumb_is_after_hero }} hero--no-margin {{ end }}">
    <div class="container">
        {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-start") }}
        {{ partial "header/breadcrumbs.html" }}
        {{ end }}
        <div class="content">
            <div class="hero-content">
                {{ partial "programs/hero-single-text.html" . }}
                {{ partial "programs/hero-single-logos.html" . }}
            </div>
            {{ if .Params.image }}
                {{ partial "programs/custom-image.html" .Params}}
            {{ end }}
        </div>
    </div>

    <div class="essential-container" id="#{{ urlize (i18n " programs.toc.essential") }}">
        <div class="container">
            {{ partial "programs/hero-single-essential.html" . }}
            {{ partial "programs/hero-single-actions.html" . }}
        </div>
    </div>

    {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-end") }}
    <div class="container breadcrumb-container">
        {{ partial "header/breadcrumbs.html" }}
    </div>
    {{ end }}
</header>

{{ if and $display_breadcrumb $breadcrumb_is_after_hero }}
<div class="container breadcrumb-container">
    {{ partial "header/breadcrumbs.html" }}
</div>
{{ end }}